<launch>
    <arg name="detectionMaxThresh_" default="9" doc="beyond this distance, detection is ignored"/>
    <!--arg name="detectionMaxThresh_" default="20" doc="beyond this distance, detection is ignored"/   for movement tracking only   -->
    <arg name="detectionMinThresh_" default="0.05" doc="below this distance, detection is ignored"/>
    <arg name="probabilityMinThresh_" default="0.4" doc="below this probability, detection is ignored"/>

    <node pkg="detection_filter" type="detection_filter" name="detection_filter">
        <param name="detectionMaxThresh_" value="$(arg detectionMaxThresh_)" type="double"/>
        <param name="detectionMinThresh_" value="$(arg detectionMinThresh_)" type ="double"/>
        <param name="probabilityMinThresh_" value="$(arg probabilityMinThresh_)" type ="double"/>
    </node>
</launch>
