<launch>

  <node pkg="dragoon_pure_pursuit" type="pure_pursuit" name="pure_pursuit" output="screen">
    <param name="wheelbase" value="0.29"/>
    <param name="lookahead_distance" value="0.5"/>
    <param name="max_linear_velocity" value="0.15"/>
    <param name="min_linear_velocity" value="0.1"/>
    <param name="rot_only_ang_threshold" value="0.3"/>
    <param name="max_rotational_velocity" value="0.5"/>
    <param name="static_rotational_velocity" value="0.5"/>
    <param name="position_tolerance" value="0.3"/>
    <param name="acceleration" value="0.5"/>
    <param name="jerk" value="0.5"/>
    <param name="map_frame_id" value="map"/>
    <param name="robot_frame_id" value="nav_link"/>
    <param name="lookahead_frame_id" value="lookahead"/>
    <param name="controller_frequency" value="20.0"/>

    <remap from="path_segment" to="move_base/TrajectoryPlannerROS/global_plan"/>
    <!-- <remap from="odometry" to="odom"/> -->
    <remap from="cmd_vel" to="cmd_vel_move_base"/>
  </node>

</launch>
